/*noinspection CssInvalidPropertyValue*/
@font-face {
    font-family: 'PTRootUIWebVF';
    src: url('media/font/PTRootUI_VF.woff2') format('woff2'), url('media/font/PTRootUI_VF.woff') format('woff');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}
html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    height: 100%;
}
body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'PTRootUIWebVF', sans-serif;
    font-variation-settings: 'wght' 400;
}
pre {
    white-space: pre-wrap;
}
code {
    display: inline-block;
    font-family: 'PT Mono', monospace;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    padding: .5em;
    background-color: #f0f0f0;
    color: #333;
}
pre > code {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
article {
    margin-bottom: 4em;
}
main {
    display: block;
    padding: 1em 1.5em 2em;
    flex-basis: 22em;
    flex-grow: 2;
    align-self: center;
}
.wnrs {
    background-color: #c10016;
    color: #fff;
    margin: -1em -1.5em 0;
    padding: 1em 1.5em;
}
.main-body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}
.snippets-header {
    padding: 1em 1.5em 1em;
    display: inline-block;
}
.snippets-header a {
    display: inline-block;
    color: inherit;
    padding: .25em .55em .15em 0;
}
.snippets-header a::before {
    content: '';
    display: block;
    border-bottom: .125em solid;
    border-left: .125em solid;
    padding: .5em;
    transform: rotate(45deg);
}
.snippets-header h1 {
    display: inline;
    margin: 0;
}
.snippets-aside {
    padding: 1em 1.5em 1em;
    display: inline-block;
}
.snippets-aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.snippets-aside li {
    display: inline-block;
}
.snippets-aside li ul {
    display: none;
}
.snippets-aside li:not(:last-child) {
    margin-right: 1em;
}
aside {
    flex-basis: 20em;
    flex-grow: 1;
}
aside img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
@supports (object-fit: cover) {
    aside img {
        min-height: 100%;
        object-fit: cover;
        object-position: top;
    }
}
input, .btn {
    font: inherit;
}
.btn {
    touch-action: manipulation;
}
.btn:enabled {
    cursor: pointer;
}

h1 {
    font-size: 200%;
    margin-top: .5em;
    margin-bottom: 0;
    text-indent: -.05em;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
@supports (font-variation-settings: 'wdth' 700) {
    h1 {
        font-weight: normal;
        font-variation-settings: 'wght' 700;
        animation: wiggle 3s alternate infinite;
    }

    h2, h3 {
        font-variation-settings: 'wght' 700;
    }

    .text-header {
        font-variation-settings: 'wght' 400;
    }

    @keyframes wiggle {
        from {
            font-variation-settings: 'wght' 100;
        }
        to {
            font-variation-settings: 'wght' 700;
        }
    }
}
h1, h2, p, li, code {
    line-height: 1.5;
}
abbr {
    text-decoration: none;
}
.link-solid, .link-dashed {
    color: inherit;
    text-decoration: none;
    transition: border-bottom-color .2s;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .5);
}
.link-solid {
    border-bottom-style: solid;
}
.link-dashed {
    border-bottom-style: dashed;
    touch-action: manipulation;
}
.link-solid:hover, .link-dashed:hover {
    border-bottom-color: #000;
}
/*noinspection CssInvalidMediaFeature*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #202020;
        color: white;
    }

    .link-solid, .link-dashed {
        border-bottom-color: rgba(255, 255, 255, .5);
    }

    .link-solid:hover, .link-dashed:hover {
        border-bottom-color: #fff;
    }

    code {
        background-color: #2b2b2b;
        color: #a9b7c6;
    }
}
.text-header {
    display: inline-block;
    font-size: 100%;
    font-weight: normal;
    margin: 0 1em .5em 0;
}
.works-list {
    display: inline;
    list-style: none;
    padding-left: 0;
}
.works-list li {
    display: inline-block;
    margin-bottom: .5em;
}
.works-list li:not(:last-child) {
    margin-right: 1em;
}
.link-anchor {
    text-decoration: none;
    color: inherit;
    padding: .2em;
    touch-action: manipulation;
}
.btn-copy {
    font: inherit;
    background: none;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    margin: -.5em -.5em -.5em 0;
    padding: .5em;
    float: right;
    cursor: pointer;
    color: inherit;
    touch-action: manipulation;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}
.btn-copy::before {
    content: 'Код скопирован';
    position: absolute;
    right: 0;
    top: 0;
    text-align: left;
    white-space: nowrap;
    background-color: #444;
    font-family: 'PTRootUIWebVF', sans-serif;
    color: #fff;
    padding: .5em;
    border-bottom-left-radius: .5em;
    transition: opacity 2s;
    display: none;
}
.btn-copy.copied::before {
    display: inline-block;
    animation: appear 2s;
}
@keyframes appear {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}
#js_invert_target {display: inline-block;}
#js_invert_target[aria-pressed=false]::before {content: 'aria-pressed="false"';}
#js_invert_target[aria-pressed=true]::before {content: 'aria-pressed="true"';}
#js_invert_target[hidden]::after {content: ' hidden';}
#js_invert_target[open]::after {content: ' open';}
.list-dashes {
    list-style-type: none;
    padding-left: 1em;
}
.list-dashes > li {
    margin-bottom: .5em;
    text-indent: -1em;
}
.list-dashes > li::before {
    content: '— ';
}
@supports (list-style-type: '— ') {
    .list-dashes {
        list-style-type: '— ';
    }

    .list-dashes > li {
        text-indent: 0;
    }

    .list-dashes > li::before {
        display: none;
    }
}
@supports (padding-inline-start: 1em) {
    .list-dashes {
        padding-left: 0;
        padding-inline-start: 1em;
    }
}
@media (min-width: 82em) {
    body {
        font-size: 125%;
    }

    h1 {
        font-size: 300%;
    }

    body, .text-header {
        font-variation-settings: 'wght' 100;
    }
    @supports (display: grid) {
        .snippets-body {
            display: grid;
            grid-template-columns: auto max-content;
        }

        .snippets-aside {
            grid-column: 2/3;
            grid-row: 1/3;
        }

        .snippets-aside nav {
            position: sticky;
            top: 1em;
        }

        .snippets-aside nav > ul > li:not(:last-child) {
            margin-bottom: 1.5em;
        }

        .snippets-aside nav > ul > li > a {
            font-size: 125%;
            border-bottom: 0;
        }

        .snippets-aside li ul {
            display: block;
            padding-left: .5em;
        }

        .snippets-aside li li {
            margin-top: .5em;
        }

        .snippets-aside li {
            display: block;
            margin-right: 0;
        }
        .link-anchor {
            display: none;
        }
    }
}
@media (min-width: 118em) {
    body {
        font-size: 137.5%;
    }
}
